*{
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
img{
    height: 300px;
    width: 300px;
}
.container{
    background-image: url(/frontend-spa/src/Images/annie-spratt-jN-5qlfUcbw-unsplash.jpg);
}
.header-container{
    background-color:rgba(250, 249, 250, .2);
    height: 200px;
    max-width: 80%;
    font-family: 'Righteous';
    font-size: 3em;
    color: white;
    text-shadow: 3px 3px 3px rgba(254, 181, 111, .6);
    text-align: center;
    padding-top: 50px; 

}

.delete-song-button{
    height: 15px;
    width: 15px;
}
.delete-song-button:hover{
    transform: scale(1.1);
    fill:rgba(254, 181, 111, .6)
}
.back-button svg{
    height: 30px;
    width: 30px;
    margin-right: 0px;
    cursor: pointer;
}
.back-button svg:hover{
    height: 30px;
    width: 30px;
    margin-right: 0px;
    fill:rgba(254, 181, 111, .6)
}
.back-button p:hover{
    margin-left: 20px;
    color:rgba(254, 181, 111, .6)
}
.back-button{
    width: 80%;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color:rgba(250, 249, 250, .2);
    padding-bottom: 50px;
    
}

.back-button p{
    margin-left: 20px;
    cursor: pointer;
}


.main-container{
   padding-top: 50px;
   display: flex; 
   max-width: 80%;
   background-color:rgba(250, 249, 250, .2);
   min-height: 100vh;

}


.main-container section{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 50px;
    text-align: center;
}


.main-container section .album-home:hover {
    transform: scale(1.2);
    background-color: white;
}

.comment-list{
    rgba(250, 249, 250, .2)
}
.comment{
    padding: 10px;
    border-bottom: 1px rgba(158, 216, 238, .65) dashed;
}

.rating-comment{
    width: 80%;
    background-color:rgba(250, 249, 250, .2);
}

.album-img img{
    border: 2px solid black;
    margin-left: 20%;
}

.main-container-album{
    display: flex;
    background-color:rgba(250, 249, 250, .2);
    width: 80%;
    min-height: 100vh;
    }
    
.album{
        display: flex;
    
}
.album-img{
        display: flex;
        flex-direction: column;
}
.star-rating{
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
}
.star-rating input{
    display: none;
}
.star-rating > label{
    width: 30px;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: orange;
    transition: 0.2s ease;
}
.star-rating label:hover{
    color: #ff69b4;
    transition: 0.2s ease;
}
.star-rating label:active::before{
    transform: scale(1.1);
}
.star-rating label::before { 
    content: '\2606';
    position: absolute;
    /* top: 0px; */
    line-height: 26px;
}
.star-rating input:checked ~ label:before{
    content: '\2605';
}