*{
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
img{
    height: 300px;
    width: 300px;
}
.container{
    background-image: url(/frontend-spa/src/Images/annie-spratt-jN-5qlfUcbw-unsplash.jpg);
}
.header-container{
    background-color:rgba(250, 249, 250, .2);
    height: 200px;
    max-width: 80%;
    font-family: 'Righteous';
    font-size: 3em;
    color: white;
    text-shadow: 3px 3px 3px rgba(254, 181, 111, .6);
    text-align: center;
    padding-top: 50px; 

}
.back-button img{
    height: 30px;
    width: 30px;
    margin-right: 0px;
}
.back-button{
    width: 80%;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color:rgba(250, 249, 250, .2);
}
.back-button p{
    margin-left: 20px;
}
.main-container{
   padding-top: 50px;
   display: flex; 
   max-width: 80%;
   background-color:rgba(250, 249, 250, .2);
   backface-visibility: ;
   min-height: 100vh;
}
.main-container section{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 50px;
    text-align: center;
}


.main-container section .album-home:hover {
    transform: scale(1.2);
    background-color: white;
}

.comment-list{
    rgba(250, 249, 250, .2)
}
.comment{
    padding: 10px;
    border-bottom: 1px rgba(158, 216, 238, .65) dashed;
}